#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

.carousel-img {
    height: 400px;  /*fixed height*/
    object-fit: contain;
    object-position: center;
}
  
.carousel-inner {
    height: 400px; /* Matches the height of the images */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: gray; 
  opacity: 0.7;
  background-size: 100%;
  border-radius: 50%;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: darkgray;
  opacity: 0.7;
}

.review-buttons {
  display: flex;
  align-items: center; /* Vertically aligns buttons */
  gap: 0.5rem; /* Adds spacing between buttons */
}

.flash-message {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  min-width: 800px;
  max-width: 80%;;
  text-align: left;
}
