#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

@media (min-width: 992px) {
  .page-wrapper {
    margin-left: 17.5%;
    margin-right: 17.5%;
    margin-bottom: 30px;
  }
}

@media (max-width: 991.98px) {
  .page-wrapper {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
  }
}

.carousel-img {
  height: 400px; /*fixed height*/
  object-fit: contain;
  object-position: center;
}

.carousel-inner {
  height: 400px; /* matches the height of the images */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: gray;
  opacity: 0.7;
  background-size: 100%;
  border-radius: 50%;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: darkgray;
  opacity: 0.7;
}

.review-buttons {
  display: flex;
  align-items: center; /* vertically aligns buttons */
  gap: 0.5rem; /* adds spacing between buttons */
}

.flash-message {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  min-width: 800px;
  max-width: 80%;
  text-align: left;
}
