#map-container {
  padding: 0;
  margin: 0;
}

#cluster-map {
  height: calc(100vh - 112px); /* full height minus navbar and footer */
  width: 100%; /* fill parent width */
  margin: 0;
  padding: 0;
}

#campground-list {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-sizing: border-box; /* ensures padding doesnt affect total width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  max-width: 90%; /* restrict card width for consistent alignment */
  width: 100%; /* make sure cards stretch uniformly */
}

@media (min-width: 992px) {
  #map-container {
    position: sticky;
    top: 56px; /* stick below the navbar */
    height: calc(100vh - 112px); /* adjust height to remain within viewport */
  }
  #campground-list {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 991.98px) {
  #map-container {
    position: relative;
    height: auto; /* map adjusts to content height */
  }
  #cluster-map {
    height: 400px; /* limit height for better mobile usability */
  }
}
